.card{
    height:4rem;
    width:80%;
    color:#E1E9F1;
    display: flex;
    background-color:#45525F;
    justify-content:flex-start;
    align-items: center;
    margin:1rem;
    border-radius: 10px;
    padding: 0 1rem;
}

.group-photo{
   
    margin-right: 1rem;
    height:40px;
    width:40px;
    border-radius:50%;

}
