.nav{
    width: 5%;
    border: 1px solid red;
}
.chat-list{
    width: 25%;
    border: 1px solid green;
}
.nav-list{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: column;

}